<html>
<head>
	<title>Здрасти мордасти</title>
</head>
<body>
	<p>OLOLOLO</p><br / >

	<h1><%= Time.now %></h1><br / >

Текущее время:	<%= Time.now %><br>
<br>
Content: <%= render_posts %><br / >

Параметры: <%= params %><br / >

<form action="/" method="post"> 
Name:		<input type="text" name="name" ><br />
Content:	<textarea type="text" name="content" cols="40" rows="3"></textarea><br />
			<input type="submit" >
</form>
</body>
</html>