<html>
<head>
	<title>Гостевая книга</title>
</head>
<body>
	<h1>Гостевая книга</h1><br / >
<br>
Записи: <div><%= @posts %></div><br / >
<br / >

<form action="/" method="post"> 
Author:		<input type="text" name="author" ><br />
Content:	<textarea type="text" name="content" cols="40" rows="3"></textarea><br />
			<input type="submit" >
</form>
</body>
</html>